@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
}

body {
    background: linear-gradient(45deg, rgba(254, 57, 137, 0.5018382352941176) 0%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 75%, rgba(169, 68, 242, 0.5018382352941176) 100%);
}



/* Nav */



.header {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 20%, rgba(254, 57, 137, 1) 60%, rgba(169, 68, 242, 1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    width: 100%;
    padding: 5px 10%;
    box-shadow: #00000056 0px 7px 7px;
}

.navbar {
    height: 50px;
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 12px;
    transition: all 0.25s;
}

.header .nav-links li:hover {
    transform: scale(1.2);
}

.header .nav-links li:active {
    transform: none;
}

.header .nav-links a {
    font-size: 700;
    font-weight: 600;
    color: #000000b4;

}

.header .nav-links a:hover {
    color: #ffffff;
}

.menu {
    display: none;
}

.header .btn button,
.header .menu button,
.header .inicio button {
    font-weight: 700;
    color: #000000ff;
    padding: 9px 25px;
    background: #ffffffb0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: #00000056 0px 7px 7px;
}

.header .btn button:hover,
.header .menu button:hover,
.header .inicio button:hover {
    background-color: #ffffff;
    color: #8100de;
    transform: scale(1.1);
    transition: all 0.3s;
    box-shadow: #00000056 0px 7px 7px;
}

.header .btn button:active,
.header .menu button:active,
.header .inicio button:active {
    transform: none;
}

@media screen and (max-width: 850px) {

    .nav-links,
    .btn {
        display: none;
    }

    .menu {
        display: inherit;
    }
}



/* Nav responsive*/



.header a {
    text-decoration: none;
}

.header .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background: linear-gradient(135deg, rgba(254, 57, 137, 1) 0%, rgba(169, 68, 242, 1) 100%);
    overflow: hidden;
    transition: all 0.3s;
}

.header .overlay .overlay-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s;
    font-weight: 700;
    color: white;
}

.header .overlay a:hover,
.header .overlay a:focus {
    color: rgb(255, 153, 0);
}

.header .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}

@media screen and (max-height:450px) {
    .header .overlay a {
        font-size: 20px;
    }

    .header .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}



/* contenido de productos */



.contenedor-titulo {
    display: flex;
    justify-content: center;
}

.titulo {
    text-align: center;
    font-weight: 700;
    margin: 30px;
    padding: 10px;
    color: white;
    background: linear-gradient(90deg, rgba(254, 57, 137, 1) 0%, rgba(169, 68, 242, 1) 100%);
    width: 400px;
    border-radius: 50px;
    box-shadow: #00000056 0px 7px 7px;
}

.div-productos {
    display: flex;
    justify-content: center;
    margin: 10px 0px 40px 0px;
}

.contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;

}

.producto {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 325px;
    background-color: white;
    margin: 25px;
    box-shadow: #00000056 0px 7px 7px;
    border-radius: 25px;
}

.producto-img {
    width: 325px;
    height: 325px;
}

.producto-img img {
    height: 325px;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
}

.producto-descripcion {
    padding: 15px;
}

.nombre-producto {
    font-weight: 700;
    font-size: 25px;
}

.precio-producto {
    background-color: #f5c3e693;
    color: #8100de;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    border-radius: 25px;
    box-shadow: inset #00000056 0px 4px 4px;
}

.producto-botones {
    text-align: center;
    background: linear-gradient(90deg, rgba(254, 57, 137, 1) 0%, rgba(169, 68, 242, 1) 100%);
    padding: 7px;
    border-radius: 0px 0px 25px 25px;
}

.btn-comprar {
    font-weight: 700;
    color: #000000ff;
    padding: 9px 25px;
    background: #ffffffb0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: #00000056 0px 7px 7px;
    margin: 5px;
}

.btn-comprar:hover {
    background-color: #ffffff;
    color: #8100de;
    transform: scale(1.1);
    transition: all 0.3s;
    box-shadow: #00000056 0px 7px 7px,
        #8100de 0px 7px 20px,
        #8100de 0px 7px 60px;
}

.btn-comprar:active {
    transform: none;
}



/* footer */



footer {
    background: linear-gradient(90deg, rgba(254, 57, 137, 1) 0%, rgba(169, 68, 242, 1) 100%);
    border-bottom: 5px #FE3989 solid;
    border-top: 5px #A944F2 solid;
}

ul {
    list-style-type: square;
}

.divfooter {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width:749px) {
    .divfooter {
        color: white;
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
    }

    .info-footer {
        width: 90%;
    }

}

.textfooter {
    text-decoration: none;
    font-size: 700;
    font-weight: 600;
    color: #000000b4;
}

.textfooter:hover {
    color: #ffffff;
}